* {
	padding:0;
	margin:0;
}

html, body{margin:0;padding:0;border:0px none;outline:0;font-size:100%; }
body {
    background:#cccccc;
    color:#999999;
}

body {
	margin:0;
	padding:0;
	height: 100%;
	width: 100%;
}

body {
	font-family:Arial;
	font-size:14px;
	direction:ltr;
	line-height: 18px;
}
a {
	text-decoration:none;
}


ol, ul{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}





div.itemHeader h2.itemTitle {
	font-family:Arial, Helvetica, sans-serif;
	font-size:36px;
	font-weight:bold;
	letter-spacing:-2px;
	line-height:110%;
	padding:0;
	margin-bottom: 15px;
}

.contentheading, .componentheading, .contentpane > h1 {
	border-bottom:1px solid #c9c9c9;margin:0px 0 40px 0;padding-bottom:20px;
}

/*
 * Joomla! system tooltips
 */
 
.tool-tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
	color: #323232;
}
.tool-title {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../../system/images/selector-arrow.png) no-repeat;
}
.tool-text {
	font-size: 100%;
	margin: 0;
}

/* CLEARFIX CSS */
 /*clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */



.clearBoth {clear:both;}
.floatLeft{
	float:left;
}
.floatRight{
	float:right;
}
a.hideTxt, span.hideTxt {
    display:block;
}
.hideTxt { 
    text-indent:-9999px; 
}

#logo {margin-left: 16px;}
.modulecontent iframe {
    border:12px solid #c3c3c3;
}

/* XTC CSS*/

	/* XTC Menus Structure */
ul.menu > li > ul li > ul {
visibility:hidden;
}
ul.suckerfish li.xtcHover > ul, ul.dropline li.xtcHover > ul, ul.dualfish li.xtcHover > ul {
	visibility:visible;
}
ul.suckerfish li > ul:hover, ul.dropline li > ul:hover, ul.dualfish li > ul:hover {
	visibility:visible;
}
/* Sucker Fish */
ul.suckerfish, ul.dropline, ul.dualfish {
	position:relative;
	list-style-type:none;
	z-index:9999;
	margin:0;
	padding:0 0 0 18px;
}
ul.suckerfish > li, ul.dropline > li, ul.dualfish > li {
	display:block;
	float:left;
}
ul.suckerfish > li > a, ul.dropline > li > a, ul.dualfish > li > a {
	display: block;
}
ul.suckerfish ul, ul.dropline ul, ul.dualfish ul {
	display: block;
	visibility:hidden;
	overflow:hidden;
	position:absolute;
	top:45px;
	z-index:9999;
	
}
ul.suckerfish ul:hover, ul.dropline ul:hover, ul.dualfish ul:hover {
	overflow:visible;

}
ul.suckerfish ul > li {
	display:block;
	position:relative;
	float:none;
}
ul.suckerfish > ul > li > a, ul.dropline > ul > li > a, ul.dualfish > ul > li > a {
	display:block;
}
ul.suckerfish > li > ul > li {
	position:relative;
}
ul.suckerfish > li > ul > li > ul {
	top:0px;
}
/* Drop Line */
ul.dropline > li > ul {
	position:absolute;
	display:block;
	float:none;
	left:0px;
}
ul.dropline > ul > li {
	display:block;
	float:left;
	width:auto;
}
ul.dropline > li > ul > li > ul {
	position:absolute;
	left:0px;
}
/* Dual Fish*/
ul.dualfish > li > ul > li {
	display:block;
	position:relative;
	float:left;

}
/* 
 * XTC Menu Decorative 
 */
 ul.dualfish li a,ul.suckerfish li a,ul.dropline li a {
	font-size:11px;
	font-weight:bold;
	text-transform: uppercase;
}
ul.dualfish li a span,ul.suckerfish li a span,ul.dropline li a span {
	margin:-2px 0 0 0;
}
ul.suckerfish li a img,ul.dualfish li a img,ul.dropline li a img {
    padding:12px 0 0;
	display:none;
}
ul.suckerfish > li, ul.dualfish > li, ul.dropline > li {
	margin-right:0;
	padding-bottom:0;
	background:none;
	padding-left:0;
}
ul.suckerfish > li > a, ul.dualfish > li > a, ul.dropline > li > a {
	padding:12px 17px;
	line-height:18px;
	font-weight:bold;
	font-family:Tahoma!important;
}
ul.suckerfish > li > a:hover, ul.dualfish > li > a:hover, ul.dropline > li > a:hover {
	padding:12px 17px;
}
ul.suckerfish > li.active > a, ul.dualfish > li.active > a, ul.dropline > li.active > a {
	padding:12px 17px;
}
ul.suckerfish > li:hover > a, ul.dualfish > li:hover > a, ul.dropline > li:hover > a {
	padding:12px 17px;
}
ul.suckerfish > li.last > a, ul.dualfish > li.last > a, ul.dropline > li.last > a {
	border-right:none!important;
}
/* Suckerfish */
ul.suckerfish > li > ul {
	width:160px;
	padding:8px 20px 4px 20px;
	border-radius:7px;
}
ul.suckerfish > li > ul > li {
	width:160px;
	margin-top:0;
	padding:0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius:0px;
}
/* Simulate the UL padding */
ul.suckerfish > li > ul > li.first {
}
ul.suckerfish > li > ul > li.last {
}
ul.suckerfish > li > ul > li > a {
	display:block;
	padding:14px 14px 14px 0px;
	margin:0px;
}
ul.suckerfish > li > ul > li > ul {
	margin:-8px 0px 0px 170px;
}
/* Dualfish */
/* Top Level */

ul.dualfish > li > ul {
	width:380px;
	margin:0 0 0 -153px;
	padding:8px 0px 4px 0px;
	border-radius:7px;
}
ul.dualfish > li > ul > li {
	width:160px;
	margin:1px 0px 0px 20px;
	padding:0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius:0px;
}
/* Simulate the UL top & botton padding */
ul.dualfish > li > ul > li.first, ul.dualfish > li > ul > li.first + li {
}
ul.dualfish > li.last > a,ul.suckerfish > li.last > a,> ul.dropline > li.last > a {
	border-right:none;
}
ul.dualfish > li > ul > li > a,ul.suckerfish > li > ul > li > a,ul.dropline > li > ul > li > a,ul.dualfish > li > ul > li > a:hover,ul.suckerfish > li > ul > li > a:hover,ul.dropline > li > ul > li > a:hover,ul.dualfish > li > ul > li.active > a,ul.suckerfish > li > ul > li.active > a, ul.dropline > li > ul > li.active > a {
	display:block;
	padding:12px 8px 12px 0;
	line-height:14px;
}
ul.dualfish > li > ul > li > ul {
	margin:-54px 0px 0px 170px;
}
ul.menu > li.parent > ul > li.parent ul {
	background: #333;
}
/* Dropline */
/* Top Level */
ul.dropline > li > ul {
	height:auto;
	width:740px;
	margin-top:0;
	padding:0 0 5px 0;

	border-radius:7px;
}
ul.dropline > li > ul > li {
	width:160px;
	margin:1px 0px 1px 20px;
	padding:0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius:0px;
}
ul.dropline > li > ul > li > a {
	display:block;
	margin:0px;
}
ul.dropline > li > ul > li > ul {
	margin:0;
	top:40px;
}
.quotetxt {
	font-weight: 100 !important
}
.singlearea .module, .lastarea .module {
	margin-bottom:0;
}
/*form and buttons*/
select, input, button, button {
	-moz-border-radius:4px 4px 4px 4px;
	border-radius:4px 4px 4px 4px;
	-webkit-border-radius:4px 4px 4px 4px;
	border:1px solid #DDD9D8;
	color:#979594;
	font-size:16px;
	height:36px;
	margin:0 5px 0 0;
	padding:0 8px;
}
.search select#ordering {
	height:auto;
}
input#ccname1, input#ccemail1 {
	margin-bottom:20px;
}
textarea {
	-moz-border-radius:4px 4px 4px 4px;
	border-radius:4px 4px 4px 4px;
	-webkit-border-radius:4px 4px 4px 4px;
	border:1px solid #DDD9D8;
	color:#979594;
	font-size:16px;
	margin:0 5px 0 0;
	padding-left:12px;
}
input[type="checkbox"], input[type="radio"] {
	height:auto;
}
/*system message*/
#xtcmessage{
    position:absolute;
    top:200px;
    left:50%;
    width:500px;
    margin-left:-250px;
    border:1px solid #444444;
    background: #1d1d1d;
    z-index:90;
    padding: 20px;
}
dt.error{
	font-size:20px;
	line-height:20px;
	padding:10px;
	color:#ccc;}
dd.error{
	background:#2E2E2E;
	padding:10px;}
dd.error ul{
	list-style:none;}
dd.error ul li{}

/* Joomla Login Styling */

.login_inputbox {margin:5px 0; width:95%;}
#form-login-remember {margin:5px 0;}
.rem_label {margin-right:10px;}
.login_button {font-size:13px; padding:4px 20px; margin:5px 0;}
.login_li {padding: 5px 0;}
.wrap-top,
.wrap-bottom,
.wrap-tl,
.wrap-tr,
.wrap-bl,
.wrap-br {
	background:#cccccc;
}
/*headings,links,titles*/
.contentheading {
	color:#999999;
}
.componentheading, .contentpane > h1 {
	color:#45A0CF;
}
a {
	color:#45a0cf;
}
a:visited{
	color:#45a0cf;
}
a:hover{
	color:#45a0cf;
}
a:active {
	color:#45a0cf;
}
h1 {
	color:#252525;
}
h2 {
	color:#252525;
}
h3 {
	color:#252525;
}
h4 {
	color:#252525;
}
h5 {
	color:#252525;
}
h6 {
	color:#252525;
}
/*
p{
    color:#999999;
}
*/

.module h3 span {
    color:#838381;
}
/*Header, Logo and Menu*/
#logowrap {
	background: url(../images/slideshow-frame2.png) repeat;
}
a#logo {
    background:url(../images/logo-style1.png) no-repeat 0 0;
	width:248px; height:48px;  
}
/*main menu*/
#menu {
    background: rgba(255, 255, 255, 0.9) url('../images/topfade2.png') repeat-x top left;
	-moz-border-radius:0 0 2px 2px;
	-webkit-border-radius:0 0 2px 2px;
	border-radius:0 0 2px 2px;
}
/*topmenu*/
#topmenu {
	background:#ffffff url(../images/-1) repeat-x 0 0;
	-moz-border-radius:0 0 2px 2px;
	-webkit-border-radius:0 0 2px 2px;
	border-radius:0 0 2px 2px;
}

/*slideshow area*/
.slider{
	-moz-border-radius:0 0 2px 2px;
	-webkit-border-radius:0 0 2px 2px;
	border-radius:0 0 2px 2px;
}
/*main slideshow */
.greystrip {
	height:84px; 
	width:1014px; 
	padding:0 64px; 
	margin:0px auto; 
	position:absolute; 
	bottom:30px; 
	background: url(../images/slideshow-frame2.png) repeat;
}
.mainslide_title {
/*	float:left;*/
	font-size:36px;
	color:#ffffff;
	letter-spacing:-2px;
	padding-right:36px;
	margin-right:36px;
	margin-top: 15px;
/*	border-right:1px dotted #bbb;*/
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}
.mainslide_introtext {
	font-size:12px;
	color:#ffffff;
	margin-top:13px;
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
	margin-left: 2px;
}
/*header masks*/
#head-top {
	background:#000;
	-khtml-opacity:.0.5;
	-moz-opacity:.0.5;
	opacity:0.5;
}
#head-bottom {
	background:#6b6b6b;
	-khtml-opacity:.1;
	-moz-opacity:.1;
	opacity:1;
}
/* XTC MENUS  */
/* Top Level */
#menu ul.menu > li.parent:hover {}
#menu ul.menu > li > a {
	color:#444444; 
	border-right:1px solid #ebebeb; 
}
#menu ul.menu > li.active {
	background:  url('../images/topfade2a.png') repeat-x top left;
}
#menu ul.menu > li.active > a {
	color:#999999; 
	background: #f1f1f1 url('../images/menutick.png') no-repeat bottom center;
    border-bottom:3px solid #333333;
	-moz-box-shadow: 0px 5px 10px rgba(0,0,0,.2);
}
#menu ul.menu > li > a:hover {
	color:#999999; 
	border-bottom:3px solid #45a0cf;}
/* Drop Levels */
#menu ul.menu li.parent > ul {
	background:#333333;
    -moz-box-shadow:0 7px 7px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow:0 7px 7px rgba(0, 0, 0, 0.6);
    box-shadow:0 7px 7px rgba(0, 0, 0, 0.6);
    -moz-border-radius:0 0 10px 10px;
    -webkit-border-radius:0 0 10px 10px;
    border-radius:0 0 10px 10px;
}
#menu ul.menu li.parent > ul > li {
	background:url(../images/menulines/menuline-style1.png) repeat-x left bottom;	
}
#menu ul.menu li.parent > ul > li > a {
	color:#aaaaaa; 
	padding-left:15px; background:url(../images/menuarrow-style1.png) 0 50% no-repeat; 
}
#menu ul.menu li.parent > ul > li.active > a {
	color:#ffffff;
}
#menu ul.menu li.parent > ul > li > a:hover {
	color:#45a0cf; display:block; 
}
#menu ul.menu > li.parent > ul > li.parent ul {}
/* Icon Menu Below Main Slideshow */
ul.iconmenu li a {
	color:#666666 !important;
}
/*Regions*/
/*region2*/
#region2 .module {
	background:#ffffff url(../images/-1) repeat-x 0 0;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
/*region3*/
#region3w{
	background:#8e8e8e;
}
#region3wrap2 {
	background:#9e9e9e;
}
#region3 {
    background:#ffffff url('../images/topfade1.png') repeat-x top left;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
#region3 .pad2 {    
    background:#e8e8e8 url('../images/-1') repeat-x top left;
	-moz-border-radius:1px 1px 0 0;
	-webkit-border-radius:1px 1px 0 0;
	border-radius:1px 1px 0 0;
}
#region3 #region3b {
	background:#212121 url(../images/-1) repeat-x top left;
	-moz-border-radius:0 0 1px 1px;
	-webkit-border-radius:0 0 1px 1px;
	border-radius:0 0 1px 1px;
	padding: 32px;
}
#region3 #region3b .module h3 span {
	color:#45a0cf;
}
/*region4*/
#region4 .module {	
    background:#ffffff url(../images/-1) repeat-x 0 0;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
/*region5*/
#region5 .module h3 {
	background: #fcfcfc url('../images/bottommod-h3-bkg.png') bottom repeat-x;
}
#region5 .module h3 span {
	color:#666666;
}
#region5 .pad2 {
	background:none;
}
#region5 .module{
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
}
#region5 .module h3{
	-moz-border-radius:0px 0px 0 0;
	-webkit-border-radius:0px 0px 0 0;
	border-radius:0px 0px 0 0;
}
/*region6*/
#region6{
	background:#7b7b7b ;
}
#region6 #gridwrap2 .firstarea, 
#region6 #gridwrap2 .centerarea, 
#region6 #gridwrap2 .lastarea, 
#region6 #gridwrap2 .singlearea{
	border-left:2px solid #7293be;
}

#region6wrap2 {
    background:#1b3a66 url(../images/footer-bkg.jpg) no-repeat bottom center;
}
#region6 .pad2 {
	background:none;
}
#region6 #gridwrap2 a{
	color:#7293be;
}
#region6 #gridwrap2 p{
	color:#7293be;
}
#region6 #gridwrap1 {	
	background:#000000;
	-khtml-opacity:.0.5;
	-moz-opacity:.0.5;
	opacity:0.5;
}
#region6 #gridwrap1 .module{
	background:none;
	-moz-box-shadow:none;
}
#region6 #gridwrap2 .module h3 span{
	color:#ffffff;
}
/*Search*/
#region6 input#mod_search_searchword {
	background:#fff;
}
/*region7*/
#region7 {
	background:#2a2a2a;
}
#region7wrap2 {
	background:#494949;
	-moz-border-radius:0 0 8px 8px;
	-webkit-border-radius:0 0 8px 8px;
	border-radius:0 0 8px 8px;
}
/*Module Suffixes and module overrides*/
/*block*/
/*tag*/
/*tagbline*/
/*
.block h3 span{
	color:#efefef!important;
}	
.block h3,.tag h3 span,.tagbline h3 span{
	background:#5E7C9B!important;
	color:#efefef!important;
}
*/

/*tagbline*/
.tagbline h3{
    border-bottom-color: #5E7C9B!important;
}
/*dborder*/
.dborder h3{
    border-top-color: #C9C9C9!important;
	border-bottom-color: #C9C9C9!important;
}
/*left, right, center*/
#left .module h3, #right .module h3 {
	border-bottom:1px solid #c9c9c9;
}
#center .module h3 {
	border-bottom:1px solid #c9c9c9;
}
.module {
	background:#f1f1f1; 
	border:none;
	}
.module,#menu,#topmenu,#region3 {
    -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.15);
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.15);
	}
.basecolor_1 {
	color:#396f99;
}
.basecolor_2 {
	color:#bbc8d5 !important;
}
.lm_box{
	background:#5e7c9b;
	-moz-border-radius:0 0 2px 2px;
	-webkit-border-radius:0 0 2px 2px;
	border-radius:0 0 2px 2px;
}	
.boxybottom{
	background-color: #ebebeb !important;
	-moz-border-radius:0 0 0px 0px;
	-webkit-border-radius:0 0 0px 0px;
	border-radius:0 0 0px 0px;
}
div.twitt {
	color:#7293be; border-bottom:1px dotted #7293be !important;
}
ul.bottom_menu li {border-bottom:1px dotted #7293be !important;
}
.comments_menu {border-bottom:1px dotted #7293be !important;
}
/*menu classes*/
ul.splitsection li a,ul.bottom_menu li a {
	color:#45a0cf;
}
ul.featured li {
	color:#aaaaaa !important;
	border-bottom:1px dotted #333333 !important;
	font-size:11px !important;
	font-weight:normal !important;
}
ul.featured li span {
	color:#666666 !important; font-size:10px !important;
}
ul.featured-right li {
	color:#666666 !important;
	padding:10px 0;
	border-bottom:1px solid #d0d0d0 !important;
	font-size:11px !important;
	font-weight:normal !important;
}
ul.featured-right li a {}
ul.featured-right li span {
	color:#999999 !important; 
	font-size:10px !important;
}
/* Bottom Icon List (Above the Footer) */
#bottomlist ul li a {
	color: #777777 !important;
}
#bottomlist ul li a:hover {
	color: #2e5783 !important;
}
/*Banner Position on Sub-Pages */
.subslide {
	height:162px; background: url(../images/s2.jpg) ;
}
/*Cat image*/
.cat_img {
	border:1px solid #cdcdcd;
}
/* RsMonials Text */
.RSWS_testmonial_subtext em {
	color: #45a0cf;
}
.RSWS_form_heading {
	color: #45a0cf;
}
.RSWS_form_button { 
    background: #ffffff !important;color:#999 !important;
}

.wl_image .thumbnail {
	border:6px solid #cccccc;
}
.article_img img{
	border:10px solid #cccccc;
}
 
	/* CSS for IE7 */
/*
	#menu{
    background: #ffffff url('../images/topfade1.png') repeat-x 0 0;}
#head-top {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; 
    filter: alpha(opacity=20);
}
#head-bottom {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
    filter: alpha(opacity=100);
}
.greystrip {
	background:#000000; 
}
#logowrap {
	background: #000000;
}
#region6 #gridwrap1 {
	-ms-filter:"alpha(opacity=70)";
	filter:alpha(opacity=70);
}
*/

.xtc-wrapperwide {
    width:1142px;
	margin:0 auto;
}
.xtc-wrapper {
    width:1078px;
	margin:0 auto;
}
.xtc-spacer {
    margin-bottom:15px;
}
.xtc-spacerlarge {
	bottom: 80px!important;
}
.xtc-spacersmall {
	bottom: 47px!important;
}
/* ----------------------------------------------*/
/* 02 - Header,logo,menu,slideshow
/* ----------------------------------------------*/
#headerwrap {
	position:relative;
	min-height:130px;
	padding:0 0 15px 0;
}
#header_outer .xtc-spacer {
	margin-bottom:40px;
}
#header {
	position:absolute;
	top:0;
	width:100%;
	z-index:999;
}
/*Uncomment this to mahe the main menu and logo wrap the same width as the slideshow */
/*#header .xtc-wrapper {width:1142px !important;}*/

#logowrap {
	padding:19px 0 14px;
	position:relative; 
	z-index:9999;
}
#head-top {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:85px;
	z-index:3;
}
#head-bottom {
	position:absolute;
	bottom:65px;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
}
#top{
	position:absolute;
	top:12px;
	right:16px;
	width:468px;
	height:60px;
}
#menu {
	height:45px; 
	position:relative;
	z-index:9999;
}
#banner {
	margin:0 auto;
	position:relative;
	z-index:5;
}
#banner .module {
	margin:0;
	padding:0;
	background:none;
	-moz-box-shadow:0;
	border:0;
}
#banner ul li img {
	position:relative;
	z-index:997;
}
#topmenuwrap {
	margin: -45px 0 auto;
	position: relative;
	width: 100%;
	z-index: 99;
}
#topmenuwraps {
	padding: 140px 0 0;
	width: 100%;
	z-index: 999;
}
#topmenu {
	height:64px;
	position:relative;
}
#topmenu .moduletable {
	position:absolute;
	top:0;
	left:0;
}
/* ----------------------------------------------*/
/* 03 - Region Layout
/* ----------------------------------------------*/
/*region2*/
#region2 .module {
	padding:10px 18px;
}
#region2 .module h3 {
	background: #fcfcfc url('../images/panelh3-bkg.png') bottom repeat-x;
	padding:12px 12px 13px 12px;
	margin:-15px -15px 15px -15px;
	text-align:left;
}
#region2 .module h3 span {
	font-size:13px;
	font-weight:bold;
}
/*region3*/
#region3w{
	position:relative;
}
#region3w .wrap-top{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:64px;
	z-index:1;
}
#region3w .wrap-bottom{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:64px;
	z-index:1;
}
#region3wrap2{
	position:relative;
	z-index:1;
}
#region3wrap2 .wrap-tl,
#region3wrap2 .wrap-tr,
#region3wrap2 .wrap-bl,
#region3wrap2 .wrap-br{
	position:absolute;
	width:32px;
	height:32px;
}
#region3wrap2 .wrap-tl{
	top:0;
	left:0;
}
#region3wrap2 .wrap-tr{
	top:0;
	right:0;
}
#region3wrap2 .wrap-bl{
	bottom:0;
	left:0;
}
#region3wrap2 .wrap-br{
	bottom:0;
	right:0;
}
#region3 #region3b .module h3 span {
	font-size:12px;
	text-transform:uppercase;
}
#region3b .module {
	padding:0;
}
#region3 .pad{
	padding:32px;
}
#region3 .pad2 {
	padding:32px 32px 0 32px;
}
#region3 .module h3 span {
	font-size:16px;
	font-weight:500 !important;
}
#region5 .module {
	padding:10px 18px;
}
#region5 .module h3 {
	padding:12px 12px 13px 12px;
	margin:0;
	text-align:left;
}
#region5 .module h3 span {
	font-size:12px;
	font-weight:bold;
}
#region6 #gridwrap2 .module h3 span {
	font-size:12px;
	font-weight:bold;
}
#region6 .firstarea, #region6 .centerarea, #region6 .lastarea, #region6 .singlearea {
    margin-bottom: 10px;
    padding: 0 0 0 14px;
}

#center .module {
	margin-bottom:35px;
}
/*region6*/
#region6wrap{
	position:relative;
}
#region6wrap .wrap-top{
	position:absolute;
	top:0;
	width:100%;
	height:32px;
	z-index:1;
}
#region6 #gridwrap1 {
	margin:0 auto;
	z-index:2;
}
#region6 #gridwrap2 {
	padding-top:30px;
}
#region6wrap3{
	padding-bottom:15px;
}

#region6wrap .module h3 span{
	font-size:11px;
	font-weight:bold;
}
#region6 #gridwrap2 .module {
	background:none;
	border:none;
	-moz-box-shadow:none;
}
#region6 .r5g2 .firstarea, #region6 .r5g2 .centerarea, #region6 .r5g2 .lastarea, #region6 .r5g2 .singlearea {
	padding:0 0 0 14px;
	margin-bottom:10px;
}
#region6 input#mod_search_searchword {
	-moz-border-radius:4px;
	width:100%;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	margin:0;
}
/*region7*/
#region7wrap2 {
	padding:10px 0;
}
#region7 {
	padding:0 0 20px 0;
}
#region6 .module,#region7 .module, #content .module, #region3b .module {
    -moz-box-shadow:none!important;
    -webkit-box-shadow:none!important;
    box-shadow:none!important;
	background:none;
	border:none!important;
}
/* ----------------------------------------------*/
/* 04 - Module suffixes
/* ----------------------------------------------*/
.module {
	padding:10px;
}

.icon-icontest h3 span {
	background: url('../images/icontest.png') no-repeat 0 0;
	color: #777777;
	font-size: 11px !important;
	padding: 3px 0 3px 30px;
	text-transform:uppercase;
	text-align:left !important
}

#user12 .module {
	padding:10px 10px 10px 10px;
}
#content .module {
	padding:0;
}
/*default suffix override for left,center,right columns*/
#left .module, #right .module {
	margin-bottom:32px;
}
#left .module h3, #right .module h3 {
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	padding:0 0 20px 0;
}
#left .module h3 span, #right .module h3 span {
	color:#252525;
}
#left .module .modulecontent, #right .module .modulecontent {
	padding:20px 0 0 0;
}
#center .module h3 {
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	color:#252525;
	padding:0 0 24px 0;
	margin:0 0 24px 0;
}
/*icon suffix*/
.icon-comments h3, .icon-search h3, .icon-events h3, .icon-articles h3, .icon-browse h3, .icon-kunena h3, .icon-twitter h3, .icon-disclaimer h3 {
	height:18px;
	padding: 0 0 0 25px;
	margin:0 0 13px 0;
	background: url('../images/icon-suffix.png') no-repeat;
}
.icon-comments h3 {
	background-position: 0 -57px;
}
.icon-search h3 {
	background-position: 0 0;
}
.icon-events h3 {
	background-position: 0 -60px;
}
.icon-articles h3 {
	background-position: 0 -77px;
}
.icon-disclaimer h3 {
	background-position: 0 -96px;
}
.icon-browse h3 {
	background-position: 0 -19px;
}
.icon-kunena h3 {
	background-position: 0 -38px;
}
.icon-twitter h3 {
	background-position: 0 -116px;
}
/*block suffix*/
.block_lt_blue h3,
.block_dk_blue h3,
.block_lt_grey h3,
.block_dk_grey h3,
.block_drk_grey h3,
.block_lt_green h3,
.block_dk_green h3,
.block_drk_green h3,
.block_lt_red h3,
.block_dk_red h3,
.block_drk_red h3,
.block_dkk_red h3,
.block_lt_brown h3,
.block_dk_brown h3,
.block_drk_brown h3{
	border-bottom:none!important;
	padding:10px 0!important;
}
.block_lt_blue h3 span,
.block_dk_blue h3 span,
.block_lt_grey h3 span,
.block_dk_grey h3 span,
.block_drk_grey h3 span,
.block_lt_green h3 span,
.block_dk_green h3 span,
.block_drk_green h3 span,
.block_lt_red h3 span,
.block_dk_red h3 span,
.block_drk_red h3 span,
.block_dkk_red h3 span,
.block_lt_brown h3 span,
.block_dk_brown h3 span,
.block_drk_brown h3 span{
	font-weight:normal!important;
	padding:10px 20px 10px 20px!important;
	font-size:13px!important;
}
.block_lt_blue h3{
	background:#45a0cf;
}
.block_dk_blue h3{
	background:#465a73;
}
.block_lt_grey h3{
	background:#696962;
}
.block_dk_grey h3{
	background:#333333;
}
.block_drk_grey h3{
	background:#000;
}
.block_lt_green h3{
	background:#848e67;
}
.block_dk_green h3{
	background:#424537;
}
.block_drk_green h3{
	background:#22241c;
}
.block_lt_red h3{
	background:#aa0000;
}
.block_dk_red h3{
	background:#660000;
}
.block_drk_red h3{
	background:#330000;
}
.block_dkk_red h3{
	background:#1e0100;
}
.block_lt_brown h3{
	background:#5a323d;
}
.block_dk_brown h3{
	background:#2f0b15;
}
.block_drk_brown h3{
	background:#1e070e;
}
.block_lt_blue h3 span{
	color:#c1dfef!important;
}
.block_dk_blue h3 span{
	color:#c1c8d1!important;
}
.block_lt_grey h3 span{
	color:#e3e3e3!important;
}
.block_dk_grey h3 span{
	color:#bbbbbc!important;
}
.block_drk_grey h3 span{
	color:#aaa!important;
}
.block_lt_green h3 span{
	color:#d6d9cd!important;
}
.block_dk_green h3 span{
	color:#c0c1bd!important;
}
.block_drk_green h3 span{
	color:#d6d7d6!important;
}
.block_lt_red h3 span{
	color:#e2aaab!important;
}
.block_dk_red h3 span{
	color:#ccaaab!important;
}
.block_drk_red h3 span{
	color:#d9d0d1!important;
}
.block_dkk_red h3 span{
	color:#b4abab!important;
}
.block_lt_brown h3 span{
	color:#c8bbbf!important;
}
.block_dk_brown h3 span{
	color:#baaeb2!important;
}
.block_drk_brown h3 span{
	color:#d6d1d4!important;
}
/*tag suffix*/
.tag h3,
.tag_lt_blue h3,
.tag_dk_blue h3,
.tag_lt_grey h3,
.tag_dk_grey h3,
.tag_drk_grey h3,
.tag_lt_green h3,
.tag_dk_green h3,
.tag_drk_green h3,
.tag_lt_red h3,
.tag_dk_red h3,
.tag_drk_red h3,
.tag_dkk_red h3,
.tag_lt_brown h3,
.tag_dk_brown h3,
.tag_drk_brown h3{
	border-bottom:none!important;
	padding:0 0 10px 0!important;
}
.tag h3 span,
.tag_lt_blue h3 span,
.tag_dk_blue h3 span,
.tag_lt_grey h3 span,
.tag_dk_grey h3 span,
.tag_drk_grey h3 span,
.tag_lt_green h3 span,
.tag_dk_green h3 span,
.tag_drk_green h3 span,
.tag_lt_red h3 span,
.tag_dk_red h3 span,
.tag_drk_red h3 span,
.tag_dkk_red h3 span,
.tag_lt_brown h3 span,
.tag_dk_brown h3 span,
.tag_drk_brown h3 span{
	padding:10px 20px 10px 20px!important;
	font-size:13px!important;
	margin:10px 0 0 0!important;
}
.tag_lt_blue h3 span{
	background:#45a0cf;
	color:#c1dfef!important;
}
.tag_dk_blue h3 span{
	background:#465a73;
	color:#c1c8d1!important;
}
.tag_lt_grey h3 span{
	background:#696962;
	color:#e3e3e3!important;
}
.tag_dk_grey h3 span{
	background:#333333;
	color:#bbbbbc!important;
}
.tag_drk_grey h3 span{
	background:#000;
	color:#aaa!important;
}
.tag_lt_green h3 span{
	background:#848e67;
	color:#d6d9cd!important;
}
.tag_dk_green h3 span{
	background:#424537;
	color:#c0c1bd!important;
}
.tag_drk_green h3 span{
	background:#22241c;
	color:#d6d7d6!important;
}
.tag_lt_red h3 span{
	background:#aa0000;
	color:#e2aaab!important;
}
.tag_dk_red h3 span{
	background:#660000;
	color:#ccaaab!important;
}
.tag_drk_red h3 span{
	background:#330000;
	color:#d9d0d1!important;
}
.tag_dkk_red h3 span{
	background:#1e0100;
	color:#b4abab!important;
}
.tag_lt_brown h3 span{
	background:#5a323d;
	color:#c8bbbf!important;
}
.tag_dk_brown h3 span{
	background:#2f0b15;
	color:#baaeb2!important;
}
.tag_drk_brown h3 span{
	background:#1e070e;
	color:#d6d1d4!important;
}
/*tagbline suffix*/
.tagbline h3,
.tagbline_lt_blue h3,
.tagbline_dk_blue h3,
.tagbline_lt_grey h3,
.tagbline_dk_grey h3,
.tagbline_drk_grey h3,
.tagbline_lt_green h3,
.tagbline_dk_green h3,
.tagbline_drk_green h3,
.tagbline_lt_red h3,
.tagbline_dk_red h3,
.tagbline_drk_red h3,
.tagbline_dkk_red h3,
.tagbline_lt_brown h3,
.tagbline_dk_brown h3,
.tagbline_drk_brown h3{
    border-bottom-style: solid!important;  
    border-bottom-width: 2px!important;
	padding:0 0 10px 0!important;
	margin:10px 0 0 0!important;
}
.tagbline h3 span,
.tagbline_lt_blue h3 span,
.tagbline_dk_blue h3 span,
.tagbline_lt_grey h3 span,
.tagbline_dk_grey h3 span,
.tagbline_drk_grey h3 span,
.tagbline_lt_green h3 span,
.tagbline_dk_green h3 span,
.tagbline_drk_green h3 span,
.tagbline_lt_red h3 span,
.tagbline_dk_red h3 span,
.tagbline_drk_red h3 span,
.tagbline_dkk_red h3 span,
.tagbline_lt_brown h3 span,
.tagbline_dk_brown h3 span,
.tagbline_drk_brown h3 span{
	padding:10px 20px 10px 20px!important;
	font-size:13px!important;
}
.tagbline_lt_blue h3{
    border-bottom-color: #45a0cf!important;
}
.tagbline_dk_blue h3{
    border-bottom-color: #465a73!important;
}
.tagbline_lt_grey h3{
    border-bottom-color: #696962!important;
}
.tagbline_dk_grey h3{
    border-bottom-color: #333333!important;
}
.tagbline_drk_grey h3{
    border-bottom-color: #000000!important;
}
.tagbline_lt_green h3{
    border-bottom-color: #848e67!important;
}
.tagbline_dk_green h3{
    border-bottom-color: #424537!important;
}
.tagbline_drk_green h3{
    border-bottom-color: #22241c!important;
}
.tagbline_lt_red h3{
    border-bottom-color: #aa0000!important;
}
.tagbline_dk_red h3{
    border-bottom-color: #660000!important;
}
.tagbline_drk_red h3{
    border-bottom-color: #330000!important;
}
.tagbline_dkk_red h3{
    border-bottom-color: #1e0100!important;
}
.tagbline_lt_brown h3{
    border-bottom-color: #5a323d!important;
}
.tagbline_dk_brown h3{
    border-bottom-color: #2f0b15!important;
}
.tagbline_drk_brown h3{
    border-bottom-color: #1e070e!important;
}

.tagbline_lt_blue h3 span{
    background:#45a0cf!important;
	color:#c1dfef!important;
}
.tagbline_dk_blue h3 span{
    background:#465a73!important;
	color:#c1c8d1!important;
}
.tagbline_lt_grey h3 span{
    background:#696962!important;
	color:#e3e3e3!important;
}
.tagbline_dk_grey h3 span{
    background:#333333!important;
	color:#bbbbbc!important;
}
.tagbline_drk_grey h3 span{
    background:#000000!important;
	color:#aaaaaa!important;
}
.tagbline_lt_green h3 span{
    background:#848e67!important;
	color:#d6d9cd!important;
}
.tagbline_dk_green h3 span{
    background:#424537!important;
	color:#c0c1bd!important;
}
.tagbline_drk_green h3 span{
    background:#22241c!important;
	color:#d6d7d6!important;
}
.tagbline_lt_red h3 span{
    background:#aa0000!important;
	color:#e2aaab!important;
}
.tagbline_dk_red h3 span{
    background:#660000!important;
	color:#ccaaab!important;
}
.tagbline_drk_red h3 span{
    background:#330000!important;
	color:#d9d0d1!important;
}
.tagbline_dkk_red h3 span{
    background:#1e0100!important;
	color:#b4abab!important;
}
.tagbline_lt_brown h3 span{
    background:#5a323d!important;
	color:#c8bbbf!important;
}
.tagbline_dk_brown h3 span{
    background:#2f0b15!important;
	color:#baaeb2!important;
}
.tagbline_drk_brown h3 span{
    background:#1e070e!important;
	color:#d6d1d4!important;
}
/*dborder suffix*/
.dborder h3,
.dborder_lt_blue h3,
.dborder_dk_blue h3,
.dborder_lt_grey h3,
.dborder_dk_grey h3,
.dborder_drk_grey h3,
.dborder_lt_green h3,
.dborder_dk_green h3,
.dborder_drk_green h3,
.dborder_lt_red h3,
.dborder_dk_red h3,
.dborder_drk_red h3,
.dborder_dkk_red h3,
.dborder_lt_brown h3,
.dborder_dk_brown h3,
.dborder_drk_brown h3{
    border-top-style: solid!important;  
    border-top-width: 1px!important;
    border-bottom-style: solid!important;  
    border-bottom-width: 2px!important;
	padding:10px 0!important;
}
.dborder_lt_blue h3{
    border-top-color: #45a0cf!important;
	border-bottom-color: #45a0cf!important;
}
.dborder_dk_blue h3{
    border-top-color: #465a73!important;
	border-bottom-color: #465a73!important;
}
.dborder_lt_grey h3{
    border-top-color: #696962!important;
	border-bottom-color: #696962!important;
}
.dborder_dk_grey h3{
    border-top-color: #333333!important;
	border-bottom-color: #333333!important;
}
.dborder_drk_grey h3{
    border-top-color: #000000!important;
	border-bottom-color: #000000!important;
}
.dborder_lt_green h3{
    border-top-color: #848e67!important;
	border-bottom-color: #848e67!important;
}
.dborder_dk_green h3{
    border-top-color: #424537!important;
	border-bottom-color: #424537!important;
}
.dborder_drk_green h3{
    border-top-color: #22241c!important;
	border-bottom-color: #22241c!important;
}
.dborder_lt_red h3{
    border-top-color: #aa0000!important;
	border-bottom-color: #aa0000!important;
}
.dborder_dk_red h3{
    border-top-color: #660000!important;
	border-bottom-color: #660000!important;
}
.dborder_drk_red h3{
    border-top-color: #330000!important;
	border-bottom-color: #330000!important;
}
.dborder_dkk_red h3{
    border-top-color: #1e0100!important;
	border-bottom-color: #1e0100!important;
}
.dborder_lt_brown h3{
    border-top-color: #5a323d!important;
	border-bottom-color: #5a323d!important;
}
.dborder_dk_brown h3{
    border-top-color: #2f0b15!important;
	border-bottom-color: #2f0b15!important;
}
.dborder_drk_brown h3{
    border-top-color: #1e070e!important;
	border-bottom-color: #1e070e!important;
}
.dborder h3 span,
.dborder_lt_blue h3 span,
.dborder_dk_blue h3 span,
.dborder_lt_grey h3 span,
.dborder_dk_grey h3 span,
.dborder_drk_grey h3 span,
.dborder_lt_green h3 span,
.dborder_dk_green h3 span,
.dborder_drk_green h3 span,
.dborder_lt_red h3 span,
.dborder_dk_red h3 span,
.dborder_drk_red h3 span,
.dborder_dkk_red h3 span,
.dborder_lt_brown h3 span,
.dborder_dk_brown h3 span,
.dborder_drk_brown h3 span{
	color:#252525!important;
}
/*hilite suffix*/
.hilite{
	background:#fff!important;
	color:#212121;
}
.hilite h3{
    border-bottom:none!important;
	padding:5px 0 0 5px!important;
}
.hilite .modulecontent{
	padding:5px!important;
}
/*advert suffix*/
.advert{
	padding:0;
}
.advert .modulecontent{
	padding:5px 0 0 0!important;
}
.advert h3 {
    font-size: 10px;
    margin: -8px 0 -3px;
    text-transform: lowercase;
	padding:0!important;
}
.advert h3 span{
    font-size: 11px!important;
	letter-spacing:2px;
    margin: -8px 0 -3px;
	color:#C9C9C9;
}
.homeoffice,
.smallbusiness,
.servers,
.analytics,
.training,
.cloud{
    padding:15px 0 0 0!important;
}
/* ----------------------------------------------*/
/* 05 - Content Overrrides
/* ----------------------------------------------*/
.cat_img {
	padding:8px;
	float:left;
	width:30%;
}
.cat_img img {
	max-width:100%;
}
.cat_rest {
	float:left;
	width:63%;
	padding-left:22px
}
.cat .headline,.cat_rest .headline{
	padding:0!important;
}
.multicolumns .width50 .cat_rest {
	width:55%;
}
.headline h1.title {
}
div.created, div.modified {
	float:left;
}
div.sectionlist li{
	padding:15px 0 15px 0;
	border-bottom:1px solid #C9C9C9;
}
/* ----------------------------------------------*/
/* 06 - Menu Classes
/* ----------------------------------------------*/
/*section menu*/
ul.splitsection {
	margin:0;
	padding:0;
}
ul.splitsection li {
	width:45%;
	float:left;
	background:none;
	padding:0 0 18px 0;
}

/*featured menu*/
ul.featured {
	list-style-image:none;
}
ul.featured li {
	list-style-image:none;
	background:none;
	padding:0;
	margin:0;
	font-weight:bold;
}
ul.featured li {
	color:#25271a;
	padding:10px 0;
	border-bottom:2px dotted #bebebe;
}
ul.featured li a {
}
ul.featured li span {
	color:#9c9a9b;
}
/*bottom menu*/
ul.bottom_menu {
	list-style-image:none;
}
ul.bottom_menu li {
	list-style-image:none;
	background:none;
	padding:0;
	margin:0;
}
ul.bottom_menu li {
	padding-bottom:12px;
	margin-bottom:12px;
	border-bottom:1px dotted #888;
}
/*linklist menu*/

#block-system-navigation ul.menu li, ul.linklist li {
	padding:12px 0 12px 15px;
	background: url('../images/bullet.gif') no-repeat 0 18px;
	border-bottom:1px solid #d0d0d0;
	list-style-type: none;
	list-style-image: none;
	font-size: 16px;
	line-height: 18px;
}
/*icon menu*/
ul.iconmenu {
	margin:0 0 0 -17px;
	padding:0;
}
ul.iconmenu li {
	float:left;
	line-height:64px;
	margin-left:42px;
}
ul.iconmenu img {
    float: left;
	padding:17px 0 0 0;
	display:block;
}
ul.iconmenu li a {
	font-size:14px;
	padding:0 0 0 10px;
}
/* Declare for Opera*/
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
ul.iconmenu li a span {
	display:block;
}
ul.iconmenu li {
	margin-left:52px;
	padding:0;
}
ul.iconmenu img {
	padding:19px 10px 0 0;
}
}
/*bottom icon list*/
#bottomlist ul {
	margin: 0 0 0 -15px;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
#bottomlist ul li {
	display: inline;
	padding: 0 0 0 15px;
	margin: -1px 0 -1px 25px;
}
#bottomlist ul li a {
	text-decoration: none;
	padding: 0 1em;
}
/* ----------------------------------------------*/
/* 07 - Module Templates CSS
/* ----------------------------------------------*/
/*content wall template styling*/
.row3wrap {
	margin-bottom:-20px;
}
.row3 {
	width:100%;
	padding:0 0 16px 0;
}
.row3-inner {
	float:left;
	width:205px;
	margin:0 18px 0 0;
}
.row3 .last {
	margin:0;
}
.row-img {
	margin-bottom:15px;
}
h4.row-title, h4.row-title a {
	font-size:13px;
	letter-spacing:-1px;
	padding:0 0 6px 0;
}
.row-text {
	color:#999999;
	text-transform:uppercase;
	font-size:9px;
}
/*Profile thumbs right side*/
.profilethumbs img {
	margin:0 6px 8px 0;
}
/*what our customers say*/
.feedback {
	padding-bottom:13px;
	margin-bottom:13px;
	border-bottom:1px solid #d0d0d0;
}
span.feedback-author {
	padding:10px 0 0 0;
}
/*content wall template styling(used at bottom modules*/
.boxywrap {
	margin:0;
}
.boxycontent_1 {
	width:259px;
	height:121px;
    background:url(../images/event-bkg.jpg) no-repeat;
}
.boxycontent_2 {
	width:259px;
	height:121px;
    background:url(../images/support-bkg.jpg) no-repeat;
}
.boxycontent_3 {
	width:259px;
	height:121px;
    background:url(../images/training-bkg.jpg) no-repeat;
}
.boxycontent_4 {
	width:259px;
	height:121px;
    background:url(../images/green-bkg.jpg) no-repeat;
}
.boxybottom {
	text-align:center;
    background:#d7d7d7 url(../images/divider.png) top repeat-x;
	padding:10px 0;
}
.moduleinner {
	border:0px solid #cccccc;
	padding:0 7px 7px 0;
	margin:0 10px 10px 0;
}
/*icon bar user 7*/
.imgbar{
    padding:6px 0;
}
.imgbar_icons_first{
    float:left;
    margin-left: 66px;
    white-space: nowrap;
}
.imgbar_icons{
    float:left;
    margin-left: 83px;
    white-space: nowrap;
}
p.sosialize{
    font-family:Arial, Helvetica, sans-serif; 
    font-size:14px; 
    color:#666666; 
    margin:5px 0 0 0;
}
.socializeicons{
	float:left; 
	margin-right:12px;
}
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
.imgbar_icons_first{
    margin-left:46px; 
}
.imgbar_icons{
    margin-left:46px;
}
}
.event,
.support,
.trainingcenter,
.green{
	background:none!important;
	padding:0!important;
}
.event h3,
.support h3,
.trainingcenter h3,
.green h3{
	margin:0!important;
}
/*newsticker*/
.newstick{
	text-align:center;
}
 
	/* CSS for IE7 */
#topmenuwrap #topmenu{
	margin-top:-30px;}
#topmenuwraps #topmenu{
	margin-top:0;}
.imgbar_icons_first{
    margin-left: 50px;
}
.imgbar_icons{
    margin-left: 50px;
}
.newstick
{
 text-align:left; padding-left:120px;
}
#region6 input#mod_search_searchword {
    padding: 3px 0 0 8px;
	height:36px;
	line-height: 26px;
}
.row3 {
    width:223px;
}
.RSWS_form_textarea {
    overflow:hidden;
}
.cat_rest h3.title {
    padding-top:5px!important;
}
.mp3browser tr.musictitles,.mp3browser tr.musictitles td {
    background: #CCCCCC;
}
.mp3browser tr.colourwhite {
    background: #ffffff!important;
}
.mp3browser tr.colourblue {
    background: #E1E1E1!important;
    border-bottom: 1px solid #C0C0C0!important;
}
.wl_rest{
    width:100%;
	padding:0;
}
.wl_hits,.wl_description,.wl_links{
	white-space:nowrap;
	width:50%;
	margin:0 auto;
	padding:0;
	text-align:center;
}
#header_outer{
	position:relative;
	z-index:5;
}
.wl_rest{
	width:150px;
}
div.catItemLinks {
    margin: 0 0 5px;
}
div.catItemBody {
    margin: 0 0 -15px 0;
}
.mainslide_introtext,.mainslide_title{
	color:#aaa;
}


/*Content and Component Headings */
.contentheading {
	font-family:Arial;
	font-size:18px;
	line-height:18px;
}
.componentheading, .contentpane > h1 {
	font-family: Arial;
	font-size:36px;
	line-height:36px;
}
.component h2 {
	letter-spacing:-2px;
}

.module h3 span{
	font-size:14px;
	font-weight:bold;
}
.cat h3.title,.cat_rest h3.title{
    font-size: 24px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 110%;
    margin: 0;
    padding: 10px 0 4px;
}
/* ----------------------------------------------*/

/* TYPOGRAPHY
/* ----------------------------------------------*/

/*.component h1 {display:inline-block;font-size:4.25em;color: #999;line-height: 42px;}
.component h2 { font-size: 2em; color: #999; line-height: 32px;}
.component h3 { font-size: 1.55em;color: #999; line-height: 24px; }
.component h4 { font-size: 1.15em; line-height: 1.25; font-weight: bold;color: #999; line-height: 18px; }
.component h5 { font-size: 1em; font-weight: bold;color: #999; line-height: 16px;}
.component h6 { font-size: 1em;color: #999; line-height: 16px;}*/

h1 {font-size:24px; letter-spacing: -1px; line-height:120%; padding:0; }
h2 { font-size:20px; line-height:110%; font-weight:normal; padding:10px 0;}
h3 { font-size:14px;}
h4 { font-size:12px;}
h5 { font-size:12px;}
h6 { font-size:12px;}



.dropcap {float:left;padding:4px 8px 0 0;display:block;color:#999;font:50px/40px Times, serif;}

/* Quotes */
quotes {padding: 1em 40px 1em 15px;font: 16px Arial;color:#777;}
blockquote.opensmall {background: url(../images/typo/openquote.gif) no-repeat 0 0;border:none;padding: 0 0 0 6px;text-align:justify;}
blockquote.opensmall p {background: url(../images/typo/closequote.gif) no-repeat 100% 100%;padding: 0 0 0 15px;font: 16px Arial;color:#777;}
/* Large Quotes */
blockquote.openlarge {background: url(../images/typo/oquote_lg.png) no-repeat 0 0;border:none;padding:0 25px 0 0;text-align:justify;}
blockquote.openlarge p {background: url(../images/typo/equote_lg.png) no-repeat 100% 100%;padding: 10px 50px 10px 50px;font: 28px Arial;line-height: 28px;color:#777;}

/* Code */
.code {background: #F4F4F4;font: 1em/1.5 "Tahoma", monospace;	margin: 5px 0 15px;	padding: 10px 15px;	color: #333333;}
/* Error */
p.error {padding-left: 25px;color: #f10033;	background: url('../images/typo/error.gif') no-repeat top left;}
/* Message */
p.message {color: #006699;background: url('../images/typo/info.gif') no-repeat top left;; padding-left:25px; padding-right:0px; padding-top:0px; padding-bottom:5px;}
/* Ideas */
p.ideas {padding-left: 25px;color: #EE9600;	background: url('../images/typo/lightbulb.gif') no-repeat top left;}
/* Highlight */
.highlight {padding: 12px;background: #FFFFCC;color: #333333;}
/* Download */
p.download {background: url('../images/typo/download.gif') no-repeat 5px center;	padding-left:35px; padding-right:0px; padding-top:0px; padding-bottom:0px;}
/* Astrix */
p.astrix {background: url('../images/typo/icon-asterisk_sm.png') no-repeat 5px center;	padding-left:25px; padding-right:0px; padding-top:0px; padding-bottom:5px;}
/* Com */
p.com {	background: url('../images/typo/ext_com.png') no-repeat 5px center;	padding-left:35px; padding-right:0px; padding-top:0px; padding-bottom:5px;}
/* Mod */
p.mod {	background: url('../images/typo/ext_mod.png') no-repeat 5px center;	padding-left:35px; padding-right:0px; padding-top:0px; padding-bottom:5px;}
/* Plug */
p.plug {background: url('../images/typo/ext_plugin.png') no-repeat 5px center;padding-left:35px; padding-right:0px; padding-top:0px; padding-bottom:5px;}
/* Lang */
p.lang {background: url('../images/typo/ext_lang.png') no-repeat 5px center;	padding-left:35px; padding-right:0px; padding-top:0px; padding-bottom:5px;}
/* Photolink */
p.photolink {background: url('../images/typo/ww_image.png') no-repeat 5px center;	padding-left:40px; padding-right:0px; padding-top:0px; padding-bottom:0px;}
/* heart */
p.heart {background: url('../images/typo/heart.png') no-repeat 5px center;padding-left:25px; padding-right:0px; padding-top:0px; padding-bottom:0px;}
/* Star */
p.stargrey {background: url('../images/typo/star-grey.png') no-repeat 5px center;padding-left:25px; padding-right:0px; padding-top:0px; padding-bottom:0px;}
p.starred {background: url('../images/typo/star-red.png') no-repeat 5px center;padding-left:25px; padding-right:0px; padding-top:0px; padding-bottom:0px;}
p.starblue {background: url('../images/typo/star-blue.png') no-repeat 5px center;padding-left:25px; padding-right:0px; padding-top:0px; padding-bottom:0px;}
p.stargreen {background: url('../images/typo/star-green.png') no-repeat 5px center;padding-left:25px; padding-right:0px; padding-top:0px; padding-bottom:0px;}
p.starorange {background: url('../images/typo/star-orange.png') no-repeat 5px center;padding-left:25px; padding-right:0px; padding-top:0px; padding-bottom:0px;}
p.starbrick {background: url('../images/typo/star-brick.png') no-repeat 5px center;padding-left:25px; padding-right:0px; padding-top:0px; padding-bottom:0px;}
p.starorange {background: url('../images/typo/star-orange.png') no-repeat 5px center;padding-left:25px; padding-right:0px; padding-top:0px; padding-bottom:0px;}
/* Photo */
p.photogrey {background: url('../images/typo/camera-grey.png') no-repeat 5px center;	padding-left:40px; padding-right:0px; padding-top:0px; padding-bottom:0px;}
p.photoblack {background: url('../images/typo/camera-black.png') no-repeat 5px center;padding-left:40px; padding-right:0px; padding-top:0px; padding-bottom:0px;}
p.photored {background: url('../images/typo/camera-red.png') no-repeat 5px center;padding-left:40px; padding-right:0px; padding-top:0px; padding-bottom:0px;}
p.photoblue {background: url('../images/typo/camera-blue.png') no-repeat 5px center;	padding-left:40px; padding-right:0px; padding-top:0px; padding-bottom:0px;}
p.photopink {background: url('../images/typo/camera-pink.png') no-repeat 5px center;	padding-left:40px; padding-right:0px; padding-top:0px; padding-bottom:0px;}
p.photogreen {background: url('../images/typo/camera-green.png') no-repeat 5px center;padding-left:40px; padding-right:0px; padding-top:0px; padding-bottom:0px;}
p.photobrick {background: url('../images/typo/camera-brick.png') no-repeat 5px center;padding-left:40px; padding-right:0px; padding-top:0px; padding-bottom:0px;}
p.photoorange {background: url('../images/typo/camera-orange.png') no-repeat 5px center;padding-left:40px; padding-right:0px; padding-top:0px; padding-bottom:0px;}
/* X */
p.x {background: url('../images/typo/x-red.png') no-repeat 5px center;padding-left:25px; padding-right:0px; padding-top:5px; padding-bottom:5px;}
p.xblack {background: url('../images/typo/x-black.png') no-repeat 5px center;padding-left:25px; padding-right:0px; padding-top:5px; padding-bottom:5px;}
/* RSS */
p.rss {background: url('../images/typo/rss.png') no-repeat 5px center;padding-left:25px; padding-right:0px; padding-top:0px; padding-bottom:0px;}
/* Check list */
ul.checklist {list-style: none;}
ul.checklist li {background: url('../images/typo/check-grey.png') no-repeat 0 0;margin-left: 15px;	padding: 0 0 15px 30px;}
/* Article list */
ul.articlelist {list-style: none;}
ul.articlelist li {background: url('../images/typo/article-grey.png') no-repeat 0 3px; margin-left: 15px;padding: 0 0 5px 30px;}
/* Star list */
ul.starlist {list-style: none;}
ul.starlist li {background: url('../images/typo/star-grey.png') no-repeat 0 3px;margin-left: 15px;padding: 0 0 5px 30px;}
/* Arrow list */
ul.arrowlist {list-style: none;}
ul.arrowlist li {background: url('../images/typo/next-grey.png') no-repeat 0 3px;margin-left: 15px;	padding: 0 0 5px 30px;}
/* X list */
ul.xlist {list-style: none;}
ul.xlist li {margin-left: 15px;	background: url('../images/typo/x-red.png') no-repeat 0 3px;; padding: 0 0 5px 30px;}
/* ast list */
ul.astlist {list-style: none;}
ul.astlist li {	margin-left: 15px;	background: url('../images/typo/icon-asterisk_sm.png') no-repeat 0 3px;; padding: 0 0 5px 30px;}
/* Movie List */
ul.movielist {list-style: none;}
ul.movielist li {margin-left: 15px; background: url('../images/typo/movie-grey.png') no-repeat 0 3px;padding: 0 0 5px 30px;}
/* Blog List */
ul.bloglist {list-style: none;}
ul.bloglist li {margin-left: 15px; background: url('../images/typo/blog-green.png') no-repeat 0 3px;	padding: 0px 0px 5px 30px;}
/* Photo List */
ul.photolist {list-style: none;}
ul.photolist li {margin-left: 15px; background: url('../images/typo/camera-grey.png') no-repeat 0 3px;	padding: 0 0 0px 30px;}
/* Date List */
ul.datelist {list-style: none;}
ul.datelist li {background: url('../images/typo/calendar-grey.png') no-repeat 0 3px;margin-left: 15px;	padding: 0 0 5px 30px;}
/* Pink Blog Bubble */
.pinkbubble {background: url('../images/typo/pinkblog_bottom.gif') no-repeat left bottom;font-size: 2em;	color: #FFFFFF !important;	padding-left:20px; padding-right:20px; padding-top:20px; padding-bottom:50px;}
/* Blue Blog Bubble */
.bluebubble {background: url('../images/typo/blueblog_bottom.gif') no-repeat left bottom;font-size: 2em;color: #FFFFFF !important;	padding-left:20px; padding-right:20px; padding-top:20px; padding-bottom:50px;}
/* Red Blog Bubble */
.redbubble {	background: url('../images/typo/redblog_bottom.gif') no-repeat left bottom;	font-size: 2em;	color: #FFFFFF !important;	padding-left:20px; padding-right:20px; padding-top:20px; padding-bottom:50px;}
/* Green Blog Bubble */
.greenbubble {	background: url('../images/typo/greenblog_bottom.gif') no-repeat left bottom;font-size: 2em;color: #FFFFFF !important;padding-left:20px; padding-right:20px; padding-top:20px; padding-bottom:50px;}
/* Yellow Blog Bubble */
.yellowbubble {background: url('../images/typo/yellowblog_bottom.gif') no-repeat left bottom;font-size: 2em;color: #333 !important;padding-left:20px; padding-right:20px; padding-top:20px; padding-bottom:50px;}
/* brick Blog Bubble */
.brickbubble {background: url('../images/typo/pinkblog_bottom.gif') no-repeat left bottom;font-size: 2em;color: #FFFFFF !important;	padding-left:20px; padding-right:20px; padding-top:20px; padding-bottom:50px;}
/* Orange Blog Bubble */
.orangebubble {	background: url('../images/typo/orangeblog_bottom.gif') no-repeat left bottom;font-size: 2em;color: #FFFFFF !important;	padding-left:20px; padding-right:20px; padding-top:20px; padding-bottom:50px;}
/* Grey Blog Bubble */
.greybubble {background: url('../images/typo/greyblog_bottom.gif') no-repeat left bottom;font-size: 2em;color: #FFFFFF !important;padding-left:20px; padding-right:20px; padding-top:20px; padding-bottom:50px;}
/* Black Blog Bubble */
.blackbubble {background: url('../images/typo/blackblog_bottom.gif') no-repeat left bottom;font-size: 2em;color: #FFFFFF !important;padding-left:20px; padding-right:20px;padding-top:20px; padding-bottom:50px;}
/* Note */
.note {	background: url('../images/typo/note.gif') no-repeat right bottom;font-size: 1em;color: #000000 !important;	padding-left:20px; padding-right:20px; padding-top:40px; padding-bottom:40px;}
.grayhover1{padding: 12px;}

/*
p{
	font-size:14px;
	line-height:140%;
}



td {
    font-size:100%;
}
th {

    font-weight:bold;
    padding:5px;
    text-align:left;
}
sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	_vertical-align: bottom;
	position: relative;
	font-size:80%;
	color:#F06;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}
del {
    text-decoration: line-through;
}
span{
   
}
small {
	font-size: 8px;
}

pre{
    border-left:3px solid #999999;
    font:1em/1.5 "Courier News",monospace;
    margin:5px 0 15px;
    padding:10px 15px;
	background:#efefef;
}
ol { 
    list-style-type: upper-roman; 
}
hr {
    border-color:#EDEDED;
    border-style:solid;
    border-width:1px 0 0;
    height:1px;
	margin:2px 0;
}
fieldset{ 
    border:0px solid #999;
}

legend {
    padding: 0.2em 0.5em;
    border:0px solid #333;
    color:#aaa;
    font-size:90%;
    text-align:right;
 }
abbr[title] {
    border-bottom:1px dashed #999;
    cursor:help;
}
*/

/*acronym {
    background-color:#FFFFDD;
    border:0.08em solid #AAAAAA;
    padding:0 3px;
    text-decoration:none;
}*/
big{
	font-size:150%;
}
button{
	border:none;
	padding:3px;
	font-size:11px;
	color:#fff;
	background:#333;
}
center{
	text-align: center;
}
em{
	font-style:normal;
}
/* UL LI's */
ul {
    list-style-image:none;
}
ul li {
   
    margin: 0;
    padding-left:10px;
}
ol {
	margin-left:25px;
}
ol li {
    list-style-type:decimal;
}
a{
	font-size:12;
	font-family:;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}

.homeoffice h3 span, .smallbusiness h3 span, .servers h3 span, .analytics h3 span, .training h3 span, .cloud h3 span {
    background: url('../images/icontest.png') no-repeat 0 0 ;
    color: #888888;
    font-size: 11px !important;
    font-weight: bold;
    padding: 3px 0 3px 30px;
	margin-left:-3px;
	text-transform:uppercase !important;
}

.event h3 span, .support h3 span, .trainingcenter h3 span, .green h3 span {
    background: url('../images/icontest.png') no-repeat 0 0 ;
    color: #888888;
    font-size: 11px !important;
    font-weight: bold;
    padding: 3px 0 3px 30px;
	margin-left:-3px;
	text-transform:uppercase !important;
	
}

.article_separator {}

/* Import project-level system CSS */
@import url(../../../media/system/css/system.css);

/* Unpublished */
.system-unpublished, tr.system-unpublished {
	background: #e8edf1;
	border-top: 4px solid #c4d3df;
	border-bottom: 4px solid #c4d3df;
}

span.highlight {
	background-color:#FFFFCC;
	font-weight:bold;
	padding:1px 4px;
}

.img-fulltext-float-right {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

.img-fulltext-float-left {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.img-fulltext-float-none {
}

.img-intro-float-right {
	float: right;
	margin-left: 5px;
	margin-bottom: 5px;
}

.img-intro-float-left {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

.img-intro-float-none {
}

/* Form validation */
.invalid { border-color: #ff0000; }
label.invalid { color: #ff0000; }

/* Buttons */
#editor-xtd-buttons {
	padding: 5px;
}

.button2-left,
.button2-right,
.button2-left div,
.button2-right div {
	float: left;
}

.button2-left a,
.button2-right a,
.button2-left span,
.button2-right span {
	display: block;
	height: 22px;
	float: left;
	line-height: 22px;
	font-size: 11px;
	color: #666;
	cursor: pointer;
}

.button2-left span,
.button2-right span {
	cursor: default;
	color: #999;
}

.button2-left .page a,
.button2-right .page a,
.button2-left .page span,
.button2-right .page span {
	padding: 0 6px;
}

.page span {
	color: #000;
	font-weight: bold;
}

.button2-left a:hover,
.button2-right a:hover {
	text-decoration: none;
	color: #0B55C4;
}

.button2-left a,
.button2-left span {
	padding: 0 24px 0 6px;
}

.button2-right a,
.button2-right span {
	padding: 0 6px 0 24px;
}

.button2-left {
	background: url(../images/j_button2_left.png) no-repeat;
	float: left;
	margin-left: 5px;
}

.button2-right {
	background: url(../images/j_button2_right.png) 100% 0 no-repeat;
	float: left;
	margin-left: 5px;
}

.button2-left .image {
	background: url(../images/j_button2_image.png) 100% 0 no-repeat;
}

.button2-left .readmore,
.button2-left .article {
	background: url(../images/j_button2_readmore.png) 100% 0 no-repeat;
}

.button2-left .pagebreak {
	background: url(../images/j_button2_pagebreak.png) 100% 0 no-repeat;
}

.button2-left .blank {
	background: url(../images/j_button2_blank.png) 100% 0 no-repeat;
}

/* Tooltips */
div.tooltip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
	z-index:13000;
}

div.tooltip h4 {
	padding: 0;
	margin: 0;
	font-size: 95%;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../images/selector-arrow.png) no-repeat;
}

div.tooltip p {
	font-size: 90%;
	margin: 0;
}

/* Caption fixes */
/* Caption fixes */
.img_caption .left {
        float: left;
        margin-right: 1em;
}

.img_caption .right {
        float: right;
        margin-left: 1em;
}

.img_caption .left p {
        clear: left;
        text-align: center;
}

.img_caption .right p {
        clear: right;
        text-align: center;
}

.img_caption  {
	text-align: center!important;
}

.img_caption.none {
	margin-left:auto;
	margin-right:auto;
}


/* Calendar */
a img.calendar {
	width: 16px;
	height: 16px;
	margin-left: 3px;
	background: url(../images/calendar.png) no-repeat;
	cursor: pointer;
	vertical-align: middle;
}
/*******************************************************************************
********************************************************************************
***                                                                          ***
***   Use to override any other CSS styling or add new styling               ***
***                                                                          ***
***   This file will be loaded last in the CSS chain                         ***
***                                                                          ***
***   ( Remember: This Cascade Styles inherit styling defined previously)    ***
********************************************************************************
*******************************************************************************/

/*for demo only*/
#menu1,#menu2,#menu3 {
    height: 45px;
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    -moz-border-radius: 0 0 2px 2px;
    background: url(../images/topfade2a.png) repeat-x left top rgba(255, 255, 255, 0.9);
}
#menu1 ul.menu > li > a,#menu2 ul.menu > li > a,#menu3 ul.menu > li > a {
	color:#838381; 
	border-right:1px solid #ebebeb; 
}
#menu1 ul.menu > li.active > a,#menu2 ul.menu > li.active > a,#menu3 ul.menu > li.active > a {
	color:#838381; 
	background: #f1f1f1 url('../images/menutick.png') no-repeat bottom center;
    border-bottom:3px solid #333333;
	-moz-box-shadow: 0px 5px 10px rgba(0,0,0,.2);
}
#menu1 ul.menu > li > a:hover,#menu2 ul.menu > li > a:hover,#menu3 ul.menu > li > a:hover {
	color:#838381; 
	border-bottom:3px solid #45a0cf;}
/* Drop Levels */
#menu1 ul.menu li.parent > ul,#menu2 ul.menu li.parent > ul,#menu3 ul.menu li.parent > ul {
	background:#333333;
    -moz-box-shadow:0 7px 7px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow:0 7px 7px rgba(0, 0, 0, 0.6);
    box-shadow:0 7px 7px rgba(0, 0, 0, 0.6);
    -moz-border-radius:0 0 10px 10px;
    -webkit-border-radius:0 0 10px 10px;
    border-radius:0 0 10px 10px;
}
#menu1 ul.menu li.parent > ul > li,#menu2 ul.menu li.parent > ul > li,#menu3 ul.menu li.parent > ul > li {
	background:url(../images/menulines/menuline-style1.png) repeat-x left bottom;	
}
#menu1 ul.menu li.parent > ul > li > a,#menu2 ul.menu li.parent > ul > li > a,#menu3 ul.menu li.parent > ul > li > a {
	color:; 
	padding-left:15px; background:url(../images/menuarrow-style1.png) 0 50% no-repeat; 
}
#menu1 ul.menu li.parent > ul > li.active > a,#menu2 ul.menu li.parent > ul > li.active > a,#menu3 ul.menu li.parent > ul > li.active > a {
	color:#ffffff;
}
#menu1 ul.menu li.parent > ul > li > a:hover,#menu2 ul.menu li.parent > ul > li > a:hover,#menu3 ul.menu li.parent > ul > li > a:hover {
	color:; display:block; 
}


/***************************Custom*****************************/

tbody{
	border: none;
}


input.form-submit{
	cursor: pointer;
}

/*--------------------node------------------------*/

.node, .block{
	padding-bottom: 15px;
}

.node .field-name-body{
	color: #4A4A4A;
	padding: 0 0 10px 0;
	text-align: justify;
}

.node .field-name-body p, .node .field-name-body ul{
	padding-bottom: 10px;
}

.node .field-name-body ul{
	overflow: hidden;
}

.node .field-name-body ul li{
	background: url(../images/bullet.gif) no-repeat 0 6px;
	padding-left: 10px;
}

.node .spacer-small{
	height: 10px;
}

.node .spacer-medium{
	height: 15px;
}

.node .spacer-large{
	height: 20px;
}

#center .tabs{
	padding-bottom: 10px;
}

#center ul.tabs{
	padding-bottom: 0;
}


/*----------------Header---------------*/

#main-menu ul.menu li {
	margin: 0
}

#secondary-menu{
	position: absolute;
	top: 17px;
	right: 15px;
}

#secondary-menu ul#secondary-menu-links li.last{
	padding-right: 0;
}

#language{
	position: absolute;
	top: 42px;
	right: 15px;
}

#language .english{
	float: left;
	margin-right: 10px;
}

#content h1#page-title{
	padding-bottom: 5px;
}



/*------------------------------node-14----------------------------------*/

#node-14 a {
  color: #000080;
  padding: 2px;
}

#node-14 a:hover {
  text-decoration: none;
  color: #fff;
  background: #e24486;
}


/*------------------------footer-------------------------------------*/

#footer .block{
	padding-bottom: 0;
}

#footer .block .footer_msg{
	float: left;
	padding: 10px;
}

#footer .block .live_int{
	text-align: right;
	padding: 2px 10px 0 10px;	
}

#block-block-2 .column-1{
	overflow: hidden;
}

#block-block-2 .wm-button-1{
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}

#block-block-2 .wm-button-1 p{
	text-align: center;
}

/*-------------------------***-blocks-***-----------------------------------*/

/*--------------block-system-main----------------------------*/
#block-system-main .node .content .field-name-field-img-category, #block-system-main .node .field-name-body p img{
	float: left;
	padding-right: 15px;
}

#block-system-main .node .content{
	padding-bottom: 10px;
	margin-top: 5px;
}


/*--------------------------block-block-3------------------------------------*/

#block-block-3 .modulecontent{
	font-size: 18px;
}

#block-block-3 .modulecontent img{
	padding-right: 15px;
}


/*--------------------------block-block-7------------------------------------*/

#block-block-7 .modulecontent ul{
	font-size: 12px;
	line-height: 15px;
}


