/*
.view-content {
	padding: 10px;
}
*/

.views-view-grid {
	width: 100%;
}

.views-field-title{
	font-size: 14px;
}

.views-field-title a{
	text-decoration: none;
}

.views-field-title a:hover{
	text-decoration: underline;
}

.views-field-body{
	text-align: justify;
}

.views-field-field-catimage{
	float: left;
}

/*-------------View-A----------0------------*/

#block-views-view-a-block-1 .views-row{
	padding-bottom: 10px;
	overflow: hidden;
}

#block-views-view-a-block-1 .views-row-last{
	padding-bottom: 0;
}

#block-views-view-a-block-1 .view-content td{
	padding-bottom: 10px;
	vertical-align: top
}
#block-views-view-a-block-1 .view-content tr.row-last td{
	padding-bottom: 0;
}

#block-views-view-a-block-1 .views-field-field-catimage{
	padding-right: 10px;
}

/*--------------------4-blocks-in-a-square----------------------*/

#block-views-view-a-*-block-1 td.col-1{
	padding-right: 8px;
}

#block-views-view-a-*-block-1 td.col-2{
	padding-left: 7px;
}


/*------------View-B---------0------------------*/

#block-views-view-b-block-1 .views-row{
	padding-bottom: 10px;
	overflow: hidden;
}

#block-views-view-b-block-1 .views-row-last{
	padding-bottom: 0;
}

#block-views-view-b-block-1 .view-content td{
	padding-bottom: 10px;
	vertical-align: top;
}

#block-views-view-b-block-1 .view-content tr.row-last td{
	padding-bottom: 0;
}

#block-views-view-b-*-block_1 .view-content td{
	padding-right: 10px;
}

#block-views-view-b-*-block_1 td.col-last{
	padding-right: 0;
}

#block-views-view-b-block-1 .views-field-title{
	text-align: center;
	padding-top: 7px;
}

#block-views-view-b-block-1 .views-field-field-long-img-fid{
	text-align: center;
}

#block-views-view-b-*-block_1 .views-field-field-long-img-fid img{
	width: 340px;
	height: 140px;
}

/*------------------3-colums-unformatted--------------------*/

#block-views-view-b-*-block_1 .views-row{
	float: left;
	margin-right: 10px;
}

#block-views-view-b-*-block_1 .views-row-3{
	margin-right: 0;
}


/*----------View-C---------0-----------------------*/

#block-views-view-c-block-1 .views-row{
	padding-bottom: 10px;
}

#block-views-view-c-block-1 .views-row-last{
	padding-bottom: 0;
}

#block-views-view-c-block-1 .view-content td{
	padding-bottom: 10px;
	vertical-align: top;
}

#block-views-view-c-block-1 .view-content tr.row-last td{
	padding-bottom: 0;
}

/*
#block-views-view-c-block-1 .col-1 .views-field-title, #block-views-view-c-block-1 .col-2 .views-field-title{
	padding-right: 15px;
}

#block-views-view-c-block-1 td.col-1{
	width: 33%;
}
#block-views-view-c-block-1 td.col-2{
	width: 34%;
}

#block-views-view-c-block-1 td.col-3{
	width: 33%;
}
*/

#block-views-view-c-block-1 .views-field-field-50px-fid{
	padding-right: 10px;
	display: table-cell;
	vertical-align: middle;
}

#block-views-view-c-block-1 .views-field-title{
	display: table-cell;
	vertical-align: middle;
/*	clear: both; */
/*	float: left; */
	height: 50px;
	position: relative;
}


/*----------------Img3x3-----------------------------------*/

#block-views-Img3x3-block_1 .views-field-field-catimage img{
	width: 60px;
	height: 60px;
}

#block-views-Img3x3-block_1 .view-content tr td{
	padding-bottom: 5px;
}


/**************Catalog*********************************************/

#block-views-Catalog-block_1 .views-field-field-catimage, #block-views-Catalog2-block_1  .views-field-field-catimage{
	padding: 0 10px 5px 0;
}

#block-views-Catalog-block_1 .views-field-title{
	padding-top: 20px;	
}

#block-views-Catalog-block_1 .views-field-title a{
	text-decoration: none;	
}

#block-views-Catalog-block_1 .views-field-name a:hover{
	text-decoration: underline;
}


.view-id-Catalog td{
	display: table;
	float: left;
	height: 50%;
	width: 49%;
}

.view-id-Catalog .views-field-field-catimage{
	overflow: hidden;
	padding-right: 10px;
	padding-bottom: 10px;
}

.view-id-Catalog .views-field-title{
	height: 100px;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	padding-right: 5px;
}


/*****************Tracker**************************************/

/*---------block-views-Tracker-block_1-----------------------*/

#block-views-Tracker-block_1 .content{
	padding-bottom: 0;
}

#block-views-Tracker-block_1 .views-field-title{
/*
	padding-left: 13px;
	background: url(../images/marker.gif) no-repeat 0px 7px;
*/
}

/*
#block-views-Tracker-block_1 .views-field-created{
	padding: 3px 5px;
	margin-right: 10px;
	border: 1px solid #ae1946;
}
*/


/******************SimilarTerms*******************************/

#block-similarterms-0{
	padding-top: 10px;
}

/*
#block-similarterms-0 .item-list ul li{
	list-style-type: none;
}
*/

/*
#block-similarterms-1 li{
	background: url(../images/marker.gif) no-repeat 0px 6px;
	padding-left: 20px;
}
*/




/****************Sitemap*******************************/

.view-Sitemap td{
	display: table;
	float: left;
	height: 50%;
	width: 49%;
}

.view-Sitemap img{
	width: 60px;
	height: 60px;

}
.view-Sitemap .views-field-field-catimage{
	overflow: hidden;
	padding-right: 10px;
	padding-bottom: 10px;
}

.view-Sitemap .views-field-title{
	height: 60px;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	padding-right: 5px;
}

.view-Sitemap .views-field-title a{
	text-decoration: none;
}

.view-Sitemap .views-field-title a:hover{
	text-decoration: underline;
}


/***************Custom*Blcoks***************************************/

/*------------2-images-&-2-links-3-times-----------*/

#block-block-1 .field-image{
	float: left;
	padding-right: 10px;
	overflow: hidden;
}

#block-block-1 .field-image-last{
	padding-right: 0;
	float: none;
}

#block-block-1 .field-image img{
	width: 100px;
	height: 100px;
}

#block-block-1 .field-title{
	padding-top: 5px;
	padding-bottom: 10px;
}

/*-----------4-images-in-square-4-links-on-bottom-----------*/

#block-block-2 .left_img{
	width: 49%;
	text-align: center;
}

#block-block-2 .right_img{
	width: 49%;
	text-align: center;
	float: right;
}


/****************************Gallery***************************/

#block-views-Gallery-block_1{
	text-align: center;
}
#block-views-Gallery-block_1 .views-field-field-catimage{
	float: none;
}

#block-views-Gallery-block_1 .views-field-title{
	padding-top: 5px;
}

#block-views-Gallery-block_1 .row-1 .views-field-title{
	padding-bottom: 10px;
}

